- provide(:title,"Sign up")
%h1 Sign up

.row
  .span6.offset3
    = form_for(@user) do |user|
      = render 'shared/error_messages', object: @user
      
      = user.label :name
      = user.text_field :name
      
      = user.label :email
      = user.text_field :email
      
      = user.label :password
      = user.password_field :password
      
      = user.label :password_confirmation, "Confirmation"
      = user.password_field :password_confirmation
      
      = user.submit "Create my account", class: "btn btn-large btn-primary"
