- provide(:title, @title)
.row
  %aside.span4
    %section= render 'shared/user_info'
    %section= render 'shared/stats'
    %section
      - if @users.any?
        .user_avatars
          - @users.each do |user|
            = link_to gravatar_for(user, size: 30), user
  .span8
    %h3= @title
    - if @users.any?
      %ul.users
        = render @users
      = will_paginate
