%li{ id: feed_item.id }
  = link_to gravatar_for(feed_item.user), feed_item.user
  %span.user
    = link_to feed_item.user.name, feed_item.user
  = content_tag(:span, wrap(feed_item.content), class: "content" )
  = content_tag(:span, "Posted #{time_ago_in_words(feed_item.created_at)} ago.", class: "timestamp" )
  - if current_user?(feed_item.user)
    = render "shared/micropost_delete", micropost: feed_item 

